---
import "../styles/global.css";
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Code Tutorials</title>
</head>
<body class="landing-body">
    <header>
        <span class="logo">Code<span>Tutorials</span></span>
    </header>
    <main class="landing">
        <slot />
    </main>
</body>
</html>
